@charset "utf-8";
/* CSS Document */
@font-face{
	src: url("../font/fenotype-resolve-sans-light.otf");
	font-family: tieude;
}
@font-face{
	src: url("../font/MonumentExtended-Ultrabold.otf");
	font-family: tieude1;
}
h1{
	font-family: tieude1;
}
.nav h2{
	font-family: tieude1;
	color: white;
}