@charset "utf-8";
/* CSS Document */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition:all .2s cubic-bezier(.34,1.12,.68,1.31);
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@font-face{
	src: url("../font/MonumentExtended-Ultrabold.otf");
	font-family: tieude1;
}
@font-face{
	src: url("../font/MonumentExtended-Regular.otf");
	font-family: tieude2;
}
.gallery{
    min-height: 100vh;
    padding-bottom: 100px;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    list-style: none;
	
}

.gallery .controls .buttons{
    height:50px;
    width: 200px;
    background:url("../image/button.png");
	background-size: cover;
	background-position: center;
    color:#171413;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    margin:20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
	font-family: tieude2;
	font-size: 18px;
}

.gallery .controls .buttons.active{
    background:#ffca00;
    color:#171413;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	margin: 0 10%;
}

.gallery .image-container .image{
    height:250px;
    width: 350px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.gallery .image-container .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
	z-index: 4;
}

.gallery .image-container .image:hover img{
    transform: scale(1.3);
}
